doctype html
html(lang='en', data-ng-app='angular-client-side-auth')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width")
        title Angular Auth Example

        //	build:css({.tmp,app}) /styles/main.css
        link( rel='stylesheet', href='/styles/main.css')
        //      endbuild

        link(rel='stylesheet',  type="text/css", href='/css/app.css')

        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript").
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    body(data-ng-cloak)

        .navbar(data-ng-controller="NavCtrl")
            .navbar-inner
                .container-fluid
                    ul.nav.nav-tabs
                        li(data-access-level='accessLevels.anon', active-nav)
                            a(href='/login') Log in
                        li(data-access-level='accessLevels.anon', active-nav)
                            a(href='/register') Register
                        li(data-access-level='accessLevels.user', active-nav)
                            a(href='/') Home
                        li(data-access-level='accessLevels.user', active-nav='nestedTop')
                            a(href='/private') Private
                        li(data-access-level='accessLevels.admin', active-nav)
                            a(href='/admin') Admin
                        li(data-access-level='accessLevels.user')
                            a(href="", data-ng-click="logout()")
                                | Log out
                        div#userInfo.pull-right(data-access-level='accessLevels.user')
                            | Welcome&nbsp;
                            strong {{ user.username }}&nbsp;
                            span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}

        .container(data-ui-view)
        #alertBox.alert.alert-danger(data-ng-show="error")
            button(type="button", class="close", data-ng-click="error = null;") &times;
            strong Oh no!&nbsp;
            span(data-ng-bind="error")

        //build:js(app) /scripts/vendor.js
        //bower:js 
 
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-cookies/angular-cookies.min.js')
        script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        // endbower
        // endbuild

        // build:js({.tmp,app}) /scripts/scripts.js
        script(src='/common/routingConfig.js')
        script(src='/scripts/app.js')
        script(src='/scripts/services.js')
        script(src='/scripts/controllers.js')
        script(src='/scripts/filters.js')
        script(src='/scripts/directives.js')
        // endbuild

        // Partial views... Load up front to make transitions smoother
        script(type="text/ng-template", id="404")
            include partials/404
        script(type="text/ng-template", id="admin")
            include partials/admin
        script(type="text/ng-template", id="home")
            include partials/home
        script(type="text/ng-template", id="login")
            include partials/login
        script(type="text/ng-template", id="private/layout")
            include partials/private/layout
        script(type="text/ng-template", id="private/home")
            include partials/private/home
        script(type="text/ng-template", id="private/nested")
            include partials/private/nested
        script(type="text/ng-template", id="private/nestedAdmin")
            include partials/private/nestedAdmin
        script(type="text/ng-template", id="register")
            include partials/register
